<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="servidor" value="localhost"/>
    <add key="database" value="empresax"/>
    <add key="usuario" value="root"/>
    <add key="password" value=""/>
  </appSettings>
</configuration>